imunizacija/src/main/resources/schemas/saglasnost_za_sprovodjenje_imunizacije.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://www.vakcinacija.rs/saglasnost"
    xmlns="https://www.vakcinacija.rs/saglasnost" xmlns:za="https://www.vakcinacija.rs/zajednicko">

    <xs:import id="za" namespace="https://www.vakcinacija.rs/zajednicko"
        schemaLocation="zajednicko.xsd"/>
    <xs:element name="saglasnost_za_sprovodjene_preporucene_imunizacije">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="za:id"/>
                <xs:element ref="za:reference"/>
                <xs:element name="datum">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:attribute name="property" type="xs:string"/>
                                <xs:attribute name="datatype" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pacijent" type="TPacijent"/>
                <xs:element name="vakcinacija" type="TVakcinacija" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="property" type="xs:string"/>
            <xs:attribute name="datatype" type="xs:string"/>
            <xs:attribute name="vocab" type="xs:string"/>
            <xs:attribute name="about" type="xs:string"/>
            <xs:attribute name="rel" type="xs:string"/>
            <xs:attribute name="href" type="xs:string"/>
            <xs:attribute name="typeof" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TPacijent">
        <xs:sequence>
            <xs:element name="licne_informacije">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="drzavljanstvo" type="TDrzavljanstvo"/>
                        <xs:element name="puno_ime" type="TPuno_ime"/>
                        <xs:element name="datum_rodjenja" type="xs:date"/>
                        <xs:element name="mesto_rodjenja" type="za:TOgraniceni_string"/>
                        <xs:element name="pol" type="za:TPol"/>
                        <xs:element name="adresa" type="TAdresa"/>
                        <xs:element name="kontakt" type="za:TKontakt"/>
                        <xs:element name="radni_status">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="TRadni_status">
                                        <xs:attribute name="property" type="xs:string"/>
                                        <xs:attribute name="datatype" type="xs:string"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="zanimanje_zaposlenog">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="TZanimanje_zaposlenog">
                                        <xs:attribute name="property" type="xs:string"/>
                                        <xs:attribute name="datatype" type="xs:string"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="socijalna_zastita" type="TSocijalnaZastita"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saglasnost" type="TSaglasnost"/>
        </xs:sequence>
        <xs:attribute name="property" type="xs:string"/>
        <xs:attribute name="datatype" type="xs:string"/>
        <xs:attribute name="vocab" type="xs:string"/>
        <xs:attribute name="about" type="xs:string"/>
        <xs:attribute name="rel" type="xs:string"/>
        <xs:attribute name="typeof" type="xs:string"/>
        <xs:attribute name="href" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="TVakcinacija">
        <xs:sequence>
            <xs:element name="zdravstvena_ustanova" type="TZdravstvena_ustanova" minOccurs="0"/>
            <xs:element name="lekar" type="TLekar" minOccurs="0"/>
            <xs:element name="vakcine" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="vakcina" type="TVakcina" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="privremene_kontraindikacije" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="kontraindikacija" type="TKontraindikacija" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="odluka_komisije_za_trajne_kontraindikacije" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:boolean">
                            <xs:attribute name="property" type="xs:string"/>
                            <xs:attribute name="datatype" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TDrzavljanstvo">
        <xs:choice>
            <xs:element name="srpski_drzavljanin" type="TSrpski_drzavljanin"/>
            <xs:element name="strani_drzavljanin" type="TStrani_drzavljanin"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TSrpski_drzavljanin">
        <xs:sequence>
            <xs:element name="jmbg">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="za:TJmbg">
                            <xs:attribute name="property" type="xs:string"/>
                            <xs:attribute name="datatype" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TStrani_drzavljanin">
        <xs:sequence>
            <xs:element name="naziv_drzave">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="za:TOgraniceni_string">
                            <xs:attribute name="property" type="xs:string"/>
                            <xs:attribute name="datatype" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="broj_pasosa">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="za:TBroj_pasosa">
                            <xs:attribute name="property" type="xs:string"/>
                            <xs:attribute name="datatype" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TPuno_ime">
        <xs:complexContent>
            <xs:extension base="za:TIme_prezime">
                <xs:sequence>
                    <xs:element name="ime_roditelja">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="za:TOgraniceni_string">
                                    <xs:attribute name="property" type="xs:string"/>
                                    <xs:attribute name="datatype" type="xs:string"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TAdresa">
        <xs:sequence>
            <xs:element name="ulica" type="za:TOgraniceni_string"/>
            <xs:element name="broj_zgrade" type="za:TOgraniceni_string"/>
            <xs:element name="mesto" type="za:TOgraniceni_string"/>
            <xs:element name="opstina" type="za:TOgraniceni_string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TSocijalna_zastita">
        <xs:sequence>
            <xs:element name="korisnik" type="xs:boolean"/>
            <xs:element name="naziv_opstine_sedista" type="za:TOgraniceni_string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TSaglasnost">
        <xs:sequence>
            <xs:element name="izjava" type="xs:boolean"/>
            <xs:element name="naziv_imunoloskog_leka">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="za:TOgraniceni_string">
                            <xs:attribute name="property" type="xs:string"/>
                            <xs:attribute name="datatype" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TZdravstvena_ustanova">
        <xs:sequence>
            <xs:element name="naziv" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="za:TOgraniceni_string">
                            <xs:attribute name="property" type="xs:string"/>
                            <xs:attribute name="datatype" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="punkt" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="za:TOgraniceni_string">
                            <xs:attribute name="property" type="xs:string"/>
                            <xs:attribute name="datatype" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TLekar" mixed="false">
        <xs:complexContent>
            <xs:extension base="za:TIme_prezime">
                <xs:sequence>
                    <xs:element name="telefon" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="broj_fiksnog" minOccurs="0">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="za:TBroj_fiksnog">
                                                <xs:attribute name="property" type="xs:string"/>
                                                <xs:attribute name="datatype" type="xs:string"/>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="broj_mobilnog" minOccurs="0">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="za:TBroj_mobilnog">
                                                <xs:attribute name="property" type="xs:string"/>
                                                <xs:attribute name="datatype" type="xs:string"/>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="vocab" type="xs:string"/>
                <xs:attribute name="about" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TVakcina">
        <xs:complexContent>
            <xs:extension base="za:TDoza_detaljnije">
                <xs:sequence maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="ekstremitet" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="LR"/>
                                <xs:enumeration value="DR"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="nuspojava" type="za:TOgraniceni_string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TKontraindikacija">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:element name="datum_utvrdjivanja" type="xs:date"/>
            <xs:element name="dijagnoza" type="za:TOgraniceni_string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TSocijalnaZastita">
        <xs:sequence>
            <xs:element name="korisnik_ustanove_socijalne_zastite" type="xs:boolean"/>
            <xs:element name="naziv_sedista" type="xs:string"/>
            <xs:element name="opstina_sedista" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TRadni_status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ZAPOSLEN"/>
            <xs:enumeration value="NEZAPOSLEN"/>
            <xs:enumeration value="PENZIONER"/>
            <xs:enumeration value="UCENIK"/>
            <xs:enumeration value="STUDENT"/>
            <xs:enumeration value="DETE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TZanimanje_zaposlenog">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ZDRAVSTVENA_ZASTITA"/>
            <xs:enumeration value="SOCIJALNA_ZASTITA"/>
            <xs:enumeration value="PROSVETA"/>
            <xs:enumeration value="MUP"/>
            <xs:enumeration value="VOJSKA"/>
            <xs:enumeration value="DRUGO"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
